# Dependencies
node_modules/

# Git
.git/
.gitignore

# Environment files
.env
.env.*
!.env.example

# Build outputs & tests
out/
dist/
coverage/
server
tests/

# Logs
*.log
logs/

# Misc
.DS_Store
.idea/
.vscode/
README.md

